<!doctype html>
<html lang="en">

<head>

  <title>Tree</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="./tree.css">
  <link rel="stylesheet" href="../css/custom.css">

  <!-- JS -->
  <script src="../js/fontawesome-all.js"></script>
  <script src="../js/d3.js"></script>
  <script src="./tree.js"></script>
  <script src="./data.js"></script>
  <script type="text/javascript" src="../js/3D_Matching_Algorithm.js"></script>

</head>

<body>
  <div class="container-fluid h-100" style="padding-right: 1%; padding-left: 1%;">
    <div class="row mt-4 mb-4 h-100">
      <div class="col">

        <!-- TREE CARD -->
        <div id="tree" class="card h-100">
          <div class="card-header d-flex">
            <button id="students_button" type="button" class="btn btn-primary m-1">
              <i class="fas fa-users"></i> Students
              <span class="badge badge-pill badge-primary" id="matches">
                <script>
                  document.write(s_list.length);
                </script>
              </span>
              <script>
                document.getElementById("students_button").addEventListener("click", function () {
                  document.getElementById("students_button").setAttribute("class", "btn btn-primary m-1")
                  document.getElementById("professors_button").setAttribute("class", "btn btn-outline-info m-1")
                  document.getElementById("courses_button").setAttribute("class", "btn btn-outline-secondary m-1")
                  treeData = generateDatabaseJSON(a_list, 0);
                  var h = document.getElementById('tree').clientHeight,
                    w = document.getElementById('tree').clientWidth,
                    size = {
                      height: h,
                      width: w
                    };
                  var margin = {
                    top: 10,
                    right: 10,
                    bottom: 100,
                    left: 0
                  };
                  d3.selectAll("#tree_svg").remove();
                  render_tree(treeData, size, margin);
                });
              </script>
            </button>
            <button id="professors_button" type="button" class="btn btn-outline-info m-1">
              <i class="fas fa-users"></i> Professors
              <span class="badge badge-pill badge-info" id="matches">
                <script>
                  document.write(p_list.length);
                </script>
              </span>
              <script>
                document.getElementById("professors_button").addEventListener("click", function () {
                  document.getElementById("students_button").setAttribute("class", "btn btn-outline-primary m-1")
                  document.getElementById("professors_button").setAttribute("class", "btn btn-info m-1")
                  document.getElementById("courses_button").setAttribute("class", "btn btn-outline-secondary m-1")
                  treeData = generateDatabaseJSON(a_list, 1);
                  var h = document.getElementById('tree').clientHeight,
                    w = document.getElementById('tree').clientWidth,
                    size = {
                      height: h,
                      width: w
                    };
                  var margin = {
                    top: 10,
                    right: 10,
                    bottom: 100,
                    left: 0
                  };
                  d3.selectAll("#tree_svg").remove();
                  render_tree(treeData, size, margin);
                });
              </script>
            </button>
            <button id="courses_button" type="button" class="btn btn-outline-secondary m-1">
              <i class="fas fa-book"></i> Courses
              <span class="badge badge-pill badge-secondary" id="matches">
                <script>
                  document.write(c_list.length);
                </script>
              </span>
              <script>
                document.getElementById("courses_button").addEventListener("click", function () {
                  document.getElementById("students_button").setAttribute("class", "btn btn-outline-primary m-1")
                  document.getElementById("professors_button").setAttribute("class", "btn btn-outline-info m-1")
                  document.getElementById("courses_button").setAttribute("class", "btn btn-secondary m-1")
                  treeData = generateDatabaseJSON(a_list, 2);
                  var h = document.getElementById('tree').clientHeight,
                    w = document.getElementById('tree').clientWidth,
                    size = {
                      height: h,
                      width: w
                    };
                  var margin = {
                    top: 10,
                    right: 10,
                    bottom: 100,
                    left: 0
                  };
                  d3.selectAll("#tree_svg").remove();
                  render_tree(treeData, size, margin);
                });
              </script>
            </button>
            <button id="priority_button" type="button" class="btn btn-outline-success ml-auto m-1" disabled>
              Add To Priority List
              <script>
                document.getElementById("priority_button").addEventListener("click", function () {
                  priority_list.push(selected);
                  document.getElementById("priorities").innerHTML = priority_list.length;
                  window.alert("Application successfully added to priority list.");
                  var entry = [];
                  for (let i = 0; i < priority_list.length; i++)
                    entry.push(dictionary[priority_list[i]]);
                  document.getElementById("priorities_table").innerHTML = update_priorities_table(entry);
                  addListenersToPriorities(entry);
                });
              </script>
            </button>
          </div>
          <!-- TREE VISUALIZATION -->
          <script>
            treeData = generateDatabaseJSON(a_list, 0);
            var h = document.getElementById('tree').clientHeight,
              w = document.getElementById('tree').clientWidth,
              size = {
                height: h,
                width: w
              };
            var margin = {
              top: 10,
              right: 10,
              bottom: 100,
              left: 0
            };
            render_tree(treeData, size, margin);
          </script>
        </div>



      </div>
    </div>
  </div>
</body>

</html>